#controlboard {
  background-color: rgba(50, 50, 50, 50%);
  color: #efefef;
  padding: 0.5em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column-reverse;
  z-index: 1;
}

#controller {
  display: flex;
  z-index: 1;
}

.container-buttons__title {
  width: 100%;
  text-align: center;
  background: aquamarine;
  padding: 1em;
}

label {
  margin-left: 1em;
}

.container-buttons {
  background: #efefef;
  color: #222222;
  font-size: 0.8em;
  border-radius: 0.2em;
  padding: 0.3em 3em 0.3em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.3em 0;
  z-index: 1;
  align-items: center;
  position: relative;
}

.container-buttons:after {
  content: "\f0dc";
  font-family: FontAwesome;
  font-size: 3em;
  margin-right: -0.75em;
  cursor: grab;
}

.container-buttons__delete {
  position: absolute;
  right: 2.5em;
  background: #ff4444;
  color: white;
  border: none;
  border-radius: 0.2em;
  padding: 0.5em 0.7em;
  cursor: pointer;
  font-size: 0.9em;
  transition: background 0.2s ease;
}

.container-buttons__delete:hover {
  background: #cc0000;
}

.controller__button {
  display: flex;
  padding: 0.5em;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
}

.controller__button h4 {
  font-size: 0.8em;
  margin: 0 0 0.5em 0;
}

.controller__button:hover {
  background: red;
  color: white;
}


/*test - override dragula default css*/
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
