.controller {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
}

.controller_button {
    width: 50%;
}

.controller__button-record {
}

.controller__button-stop {
}

.controller__button-save {
}

.controller__button-download {
  white-space: nowrap;
}

/* The switch - the box around the slider */
.slider {
  width: 50%;
}

.controller__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.controller__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.controller__toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.controller__toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .controller__toggle {
  background-color: #2196f3;
}

input:focus + .controller__toggle {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .controller__toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded toggles */
.controller__toggle.round {
  border-radius: 34px;
}

.controller__toggle.round:before {
  border-radius: 50%;
}

/* blink helper*/
.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
