#thefile {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.body {
  font-family: "Tomorrow", sans-serif;
}

#canvas {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

#newEyes {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*visibility: hidden;*/
  z-index: -1;
}

.snapshot {
  width: 100%;
  height: 100%;
}

.assets-container {
  display: none;
}

#gif {
  position: absolute;
  top: 40%;
  left: 40%;
}

#main {
  height: 100vh;
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
  display: none;
}
