#thefile {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.body {
  font-family: "Tomorrow", sans-serif;
}

#canvas {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.snapshot {
  width: 100%;
  height: 100%;
}

.assets-container {
  display: none;
}

#gif {
  position: absolute;
  top: 40%;
  left: 40%;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
  display: none;
}
