
/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: #cccccc;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .sidenav a:active, .sidenav h4:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
